wave.enabled = true  // wave enabled adds --platform <arch> to docker run, DOCKER_DEFAULT_PLATFORM is applied
docker.enabled = true
tower.accessToken = "$TOWER_ACCESS_TOKEN"
// fusion.enabled = true
// only needed for local execution
// docker.runOptions = '-v "$GOOGLE_APPLICATION_CREDENTIALS":/key.json:ro -e GOOGLE_APPLICATION_CREDENTIALS=/key.json'
