process.container = 'ghcr.io/endre-seqera/nextflow-bash:linux'
process.arch = 'linux/amd64' // does not really do what I thought it does

wave.enabled = true  // wave enabled adds --platform <arch> to docker run, DOCKER_DEFAULT_PLATFORM is applied
docker.enabled = true
tower.accessToken = "$TOWER_ACCESS_TOKEN"
fusion.enabled = true
docker.runOptions = '-v "$GOOGLE_APPLICATION_CREDENTIALS":/key.json:ro -e GOOGLE_APPLICATION_CREDENTIALS=/key.json'